.slider-container {
    position: relative;
    width: 80%;
    margin: auto;
  }
  
  .slider-image {
    display: none;
    width: 100%;
  }
  
  .active {
    display: block;
  }
  
  .thumbnails {
    margin-top: 10px;
  }
  
  button {
    margin-top: 10px;
    background-color: blue;
  }
  